*{
    padding:0;
    margin:0;
}
body{
    background-color: rgb(202, 202, 202);
    margin:0px 10px;
}

.container{
    display: grid;    
    grid-template-columns: 200px repeat(3,1fr);
    grid-template-rows: 100px auto 80% 1fr;
    gap: 5px 10px;
}

header{    
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: 1;
    grid-row-end: 1;

    padding:30px 0px;
    text-align: center;
    

}
nav{
    /* start-row start-column end-row end-column */
    grid-area: 2 / 1 / 2 / span 5;
    background-color: rgb(0, 0, 0);
    display:grid;
    justify-content: space-between;
    grid-template-columns: auto;
    justify-items: stretch;
    padding:10px;

}


nav ul li{
    display: inline;        
}

.left-navbar{    
    grid-column: 1;    
}
.right-navbar{    
    grid-column: 2;
}

nav ul li a{
    padding:5px 20px 5px 20px;
    margin:0 10px;
    color:white;
    text-decoration: none;
    font-size:18px;
    font-weight: bold;        
}

nav ul li a:hover{
    border:1px solid #736b6a;
    border-radius: 5px 0px 5px 0px;
    color:rgb(156, 154, 154);
}
aside{
    grid-column:1;
    grid-row:3;
    background-color: black;
    color:white;
    text-align: center;
    font-weight: 500;
    padding-top:5px;
}
.aside li{
    margin:10px;
    padding:5px;    
    list-style: none;
    margin-top:10px;
    text-align: center;
}
.aside li a{
    color:white;
    text-decoration: none;
    font-size:1.4em;
    font-weight: bold;
}

.aside li a:hover{
    font-size:1.6em;
    color:rgb(156, 154, 154);
}
main{
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

footer{    
    /* start-row start-column end-row end-column */
    grid-area: 4 / 1 / 4 / span 5;
    padding:10px;
    background-color: black;
    color:white;
}

.footer-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    place-items: center;
    column-gap: 20px;
    
}

.footer-div-item{    
    padding:4px;
    font-size: 16px;
    line-height: 2em;
}
.footer-div-item h3{
    text-align: center;
    font-size: 16px;
}